################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################
/.vs/FreePuzzle
*.user
# compiled files
obj
bin
# user files
.user
.suo
/FreePuzzle/.vs/FreePuzzle/DesignTimeBuild
/FreePuzzle.Api/.vs/FreePuzzle/DesignTimeBuild
/使用阿里云镜像.bat
/FreePuzzle.UI/favicon.ico
